/* ====================================================================================================================
 * BASE SCSS
 * ====================================================================================================================*/

html, body {
  	margin:0;
  	padding:0px;
  	background-color: $hfj-black;
}

.main-content {display:none;}

.mobile{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	color: $white;
	min-height: 100vh;
	padding: ($space * 3);

	&__text {
		margin:0;
		font-size: 32px;
	}
}


////////////////////////////////////////////////// phablet //////////////////////////////////////////////////

@include mq($from: phablet) {

.mobile{
	align-items: center;
	justify-content: center;

	&__text {
		margin:0;
		font-size: 42px;
		text-align: center;
		max-width: 480px;
		margin-top:-10vh;
	}

	&__logo {
		position: fixed;
		bottom:($space * 3);
		left: ($space * 3);
	}
}

}

////////////////////////////////////////////////// desktop //////////////////////////////////////////////////

@include mq($from: desktop) {

.mobile {display: none;}

.main-content {display: block;}

}