/* ====================================================================================================================
 * BASE SCSS
 * ====================================================================================================================*/

html, body {
  	margin:0;
  	padding:0px;
  	background-color: $hfj-black;
  	text-rendering: optimizeLegibility;
}


.mobile {
	width:100%;
	height:calc(1px + 100vh);
	padding:30px;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid white;
	&__logo {
		margin-top:auto;
		width:60%;
		max-width: 250px;
	}
}

////////////////////////////////////////////////// phablet //////////////////////////////////////////////////

@include mq($from: tablet) {

.mobile {display: none;}

}

////////////////////////////////////////////////// desktop //////////////////////////////////////////////////

@include mq($from: desktop) {


.site-content {
	display: flex;
	flex-wrap: wrap;
}

}