/*
*
* _../FONTS.SCSS
*
*/


/* apercu-regular-pro */

@font-face {
    font-family: 'apercu-reg';
    src: url('../fonts/apercu-regular-pro.eot');
    src: url('../fonts/apercu-regular-pro.eot?#iefix') format('embedded-opentype'),
         url('../fonts/apercu-regular-pro.woff2') format('woff2'),
         url('../fonts/apercu-regular-pro.woff') format('woff'),
         url('../fonts/apercu-regular-pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.apercu-reg {font-family: apercu-reg;}

/* apercu-bold-pro */

@font-face {
    font-family: 'apercu-bold';
    src: url('../fonts/apercu-bold-pro.eot');
    src: url('../fonts/apercu-bold-pro.eot?#iefix') format('embedded-opentype'),
         url('../fonts/apercu-bold-pro.woff2') format('woff2'),
         url('../fonts/apercu-bold-pro.woff') format('woff'),
         url('../fonts/apercu-bold-pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.apercu-bold {font-family: apercu-bold;}

/* apercu-italic-pro */

@font-face {
    font-family: 'apercu-italic';
    src: url('../fonts/apercu-italic-pro.eot');
    src: url('../fonts/apercu-italic-pro.eot?#iefix') format('embedded-opentype'),
         url('../fonts/apercu-italic-pro.woff2') format('woff2'),
         url('../fonts/apercu-italic-pro.woff') format('woff'),
         url('../fonts/apercu-italic-pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.apercu-italic {font-family: apercu-italic;}

/* fk-screamer-legacy */

@font-face {
    font-family: 'fk-screamer';
    src: url('../fonts/FKScreamerLegacy-Upright.woff2');
    src: url('../fonts/FKScreamerLegacy-Upright.woff2') format('woff2'),
         url('../fonts/FKScreamerLegacy-Upright.woff') format('woff'),
         url('../fonts/FKScreamerLegacy-Upright.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.fk-screamer {font-family: fk-screamer;}

/* canela-medium */

@font-face {
    font-family: 'canela-medium';
    src: url('../fonts/Canela-Medium.woff2');
    src: url('../fonts/Canela-Medium.woff2') format('woff2'),
         url('../fonts/Canela-Medium.woff') format('woff'),
         url('../fonts/Canela-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.canela-medium {font-family: canela-medium;}


