/* ====================================================================================================================
 * MAIN CONTENT SCSS
 * ====================================================================================================================*/


.main-content {
	margin-left: auto;
	padding: 30px;
	width: 100%;
	margin-top: 40px;
	&__block {
		margin-bottom: ($space * 4);
		opacity: 0;
		transform:translateY(20px);
		&--last {
			margin-bottom: 0;
		}
		&--top-margin {
			margin-top: ($space * 6);
		}
		&--smaller-margin {
			margin-bottom: ($space * 2);
		}
		&--bottom {
			opacity: 1;
			transform:translateY(0);
		}
	}
	&__inner {
		max-width: 1200px;
	}
	&--white {
		background-color: $white;
		margin-top: 0;
		padding-top: ($space * 4);
	}
}

@include mq($from: tablet) {

.main-content {
	margin-left: auto;
	margin-top: 0;
	padding: ($space * 4);
	width: calc(100% - 210px);
	&__block {
		margin-bottom: ($space * 4);
		&--last {
			margin-bottom: 0;
		}
		&--top-margin {
			margin-top: ($space * 10);
		}
		&--smaller-margin {
			margin-bottom: ($space * 4);
		}
	}
}

}

@include mq($from: desktopLarge) {

.main-content {
	width: calc(100% - 300px);
	padding:8vw;
	padding-top: calc(8vw - 20px);
	&__block {
		margin-bottom: ($space * 6);
		&--last {
			margin-bottom: 0;
		}
	}
}

}