/* ====================================================================================================================
 * MAIN CONTENT SCSS
 * ====================================================================================================================*/


.main-content {
	margin-left: auto;
	padding: 8vw;
	padding-top: calc(8vw - 20px);
	width: 78%;
	&__block {
		margin-bottom: ($space * 8);
	}
}

@include mq($from: desktopLarge) {

.main-content {
	width: calc(100% - 300px);
	
}

}