/* ====================================================================================================================
 * TYPOGRAPHY SCSS
 * ====================================================================================================================*/

.photos {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start; 
	&__photo {
		box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
		width:100%;
		max-width: 350px;
		margin-right: ($space * 2);
		margin-bottom: ($space * 2);
	}
}