/* ====================================================================================================================
 * TYPOGRAPHY SCSS
 * ====================================================================================================================*/

.title {
	font-size: 36px;
	font-weight: normal;
	margin-bottom: $space;
	&--white {
		color: $white;
	}
}

.subtitle {
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: ($space * 1.5);
	&--white {
		color: $white;
	}
	&__number {
		padding-right: ($space * 1.5);
		&--red {
			color: $hfj-red;
		}
	}
}

.text {
	font-size: 16px;
	margin: 0;
	padding:0;
	max-width: 900px;
	&--white {
		color: $white;
	}
	&--red {
		color: $hfj-red;
	}
	&--smaller {
		font-size: 14px;
		line-height: 2;
	}
	&--smallest {
		font-size: 14px;
	}
}

.statement {
	text-transform: uppercase;
	font-size: 34px;
	color: $white;
	opacity: 0.3;
}

.font-fk {
	font-size: 50px;
	line-height: 1.2;
	&--stacked {
		line-height: 0.9;
	}
}

.font-canela {
	font-size: 42px; font-weight: 100;
	&--quote {
		font-size: 28px;
	}
}

.font-apercu-reg,
.font-apercu-italic,
.font-apercu-bold {
	font-size: 35px;
	font-weight: 100;
}

.font-subtitle {
	font-size: 12px;
}

.centered-heading {
	text-align: center;
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
}

.center-align {
	text-align: center;
	width:100%;
}

@include mq($from: mobileMedium) {

.title {
	font-size: 44px;
}

}

@include mq($from: tablet) {

.title {
	font-size: 64px;
}

.subtitle {
	font-size: 21px;
	margin-bottom: ($space * 2);
}

}

@include mq($from: desktopLarge) {

.title {
	font-size: 72px;
}

.subtitle {
	margin-bottom: ($space * 4);
}

.text {
	font-size: 32px;
	margin: 0;
	padding:0;
	max-width: 900px;
	&--white {
		color: $white;
	}
	&--red {
		color: $hfj-red;
	}
	&--smaller {
		font-size: 24px;
		line-height: 2;
	}
	&--smallest {
		font-size: 16px;
	}
}

.statement {
	font-size: 54px;
}

.font-fk {
	font-size: 176px;
	line-height: 1.2;
	&--stacked {
		line-height: 0.9;
	}
}

.font-canela {
	font-size: 127px; font-weight: 100;
	&--quote {
		font-size: 86px;
	}
}

.font-apercu-reg,
.font-apercu-italic,
.font-apercu-bold {
	font-size: 78px;
	font-weight: 100;
}

.font-subtitle {
	font-size: 24px;
}

}


