/* ====================================================================================================================
 * VIDEO SCSS
 * ====================================================================================================================*/

.video {
	background-image: url('../img/vid.png');
	background-size: cover;
	width:38vw;
	height: calc(38vw * 0.5625); //16:9
}